<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kéktúra</title>
</head>
<body>
    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>
    <img src="svg/test.svg" />
    <div id="react-root"></div>
    {{#if watch}}
        <script src="http://localhost:35729/livereload.js"></script>
    {{/if}}
</body>
</html>
