@import 'vars';

body {
    background: $light-base;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    svg {
        .hungary {
            stroke: $dark-base;
            stroke-linejoin: bevel;
            stroke-width: 1.5px;
            fill: none;
        }
        .budapest {
            stroke: none;
            fill: $middle-alt;
        }
        .kektura {
            stroke: $alt;
            stroke-linejoin: bevel;
            stroke-width: 2px;
            fill: none;
        }
    }
}
